<div class="container-fluid bg-success bg-gradient text-white p-2">
  <div class="container">
    <div class="card text-bg-secondary mb-3">
      <div class="card-header">
        <h4>Task-1</h4>
      </div>
      <div class="card-body">
        <div class="card-title">CurrencyPipe:</div>
        <p class="card-text">{{ currencyValue | currency: 'EUR' }}</p>
        <div class="card-title">PercentPipe:</div>
        <p class="card-text">{{ percentValue | percent }}, {{ percentValue | percent: '2.0-1' }}</p>
      </div>
    </div>

    <div class="card text-bg-secondary mb-3">
      <div class="card-header">
        <h4>Task-2</h4>
      </div>
      <div class="card-body">
        <div class="card-title">ngIf:</div>
        <p *ngIf="condition" class="card-text fs-2">&#9728;</p>
        <p *ngIf="!condition" class="card-text fs-2">&#9729;</p>
        <button (click)="toggle()" class="btn btn-primary">Toggle</button>

        <div class="card-title">ngFor:</div>
        <ul class="card-text">
          <li *ngFor="let word of words">{{word}}</li>
        </ul>

        <div class="card-title">ngSwitch:</div>
        <ul *ngFor="let person of people" [ngSwitch]="person.country">
          <li *ngSwitchCase="'Spain'" class="text-info">{{ person.name }} ({{ person.country }})
          </li>
          <li *ngSwitchCase="'Italy'" class="text-danger-emphasis">{{ person.name }} ({{ person.country }})
          </li>
          <li *ngSwitchCase="'United States'" class="text-body-tertiary">{{ person.name }} ({{ person.country }})
          </li>
          <li *ngSwitchDefault class="text-warning">{{ person.name }} ({{ person.country }})
          </li>
        </ul>
      </div>
    </div>

    <div class="card text-bg-secondary mb-3">
      <div class="card-header">
        <h4>Task-3</h4>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-around mb-3">
          <input type="hidden" #selection>
          <button class="btn btn-info" (click)="selection.value = 'Car'">Car</button>
          <button class="btn btn-danger" (click)="selection.value = 'Plane'">Plane</button>
          <button class="btn btn-success" (click)="selection.value = 'Ship'">Ship</button>
        </div>
        <div [ngSwitch]="selection.value">
          <p *ngSwitchDefault class="card-text"></p>
          <p *ngSwitchCase="'Car'" class="card-text bg-info p-2">{{carInfo}}</p>
          <p *ngSwitchCase="'Plane'" class="card-text bg-danger p-2">{{planeInfo}}</p>
          <p *ngSwitchCase="'Ship'" class="card-text bg-success p-2">{{shipInfo}}</p>
        </div>
      </div>
    </div>
  </div>
</div>